@use "../utilities/mixins" as mix;
@use "../utilities/variables" as var;
@use "../base/typography" as type;

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
  padding-block: 12px;
  @include mix.base-box-styles;

  &__toggle {
    justify-self: right;
    position: relative;
    width: 36px;
    height: 36px;
  }

  &__hamburger-menu {
    position: relative;
    margin: 14px auto;
  }

  &__hamburger-menu,
  &__hamburger-menu::before,
  &__hamburger-menu::after {
    background-color: #04805e;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }

  &__hamburger-menu::before,
  &__hamburger-menu::after {
    content: "";
    position: absolute;
  }

  &__hamburger-menu::before {
    top: -10px;
  }

  &__hamburger-menu::after {
    bottom: -10px;
  }

  &__checkbox {
    display: none;
  }

  &__menu {
    display: none;
    grid-column: span 2;
    gap: 16px;
    text-align: center;
    list-style: none;
    padding-block: 0.8rem;

    flex-direction: column;
    a {
      text-decoration: none;
      color: black;
      font-variation-settings: type.$nav-link-wght;
      font-size: 1.5rem;
    }
  }
}

//Hamburger menu transition effect

.nav {
  &__hamburger-menu {
    transition: transform 450ms ease-out;
  }

  &__menu {
    transform: scale(0%);
    animation: links-appear 400ms 180ms ease-out both;
  }

  &__checkbox:checked ~ &__toggle &__hamburger-menu {
    transform: rotate(135deg);
  }

  &__checkbox:checked ~ &__toggle &__hamburger-menu::before,
  &__checkbox:checked ~ &__toggle &__hamburger-menu::after {
    top: 0;
    transform: rotate(90deg);
  }

  &__checkbox:checked ~ &__menu {
    display: flex;
  }
  @keyframes links-appear {
    0% {
      opacity: 0;
      transform: scale(0%);
    }
    100% {
      opacity: 100%;
      transform: scale(100%);
    }
  }
}
