@use "variables" as var;
@use "../base/typography" as type;
@mixin base-box-styles {
  background-color: var.$body-box-background-color;
  box-shadow: var.$body-box-shadow;
}

@mixin article-heading-styles {
  position: relative;
  text-align: center;
  font-variation-settings: type.$article-heading-wght;
  font-size: 2.5rem;
  margin-block-end: 48px;
}

@mixin article-heading-underline {
  content: "";
  position: absolute;
  height: 8px;
  width: 120px;
  background-color: var.$accent-color;
  bottom: -5px;
  left: calc(50% - 60px);
}

@mixin button-styles {
  font-family: "Montserrat VF";
  font-variation-settings: type.$form-label-wght;
  background-color: var.$icon-color;
  color: var.$button-text-color;
  font-size: 1.4rem;
  height: var.$form-element-height;
  border: none;
  width: 100%;
  max-width: var.$form-element-max-width;
}
