@font-face {
  font-family: "Montserrat VF";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/Montserrat-VF.woff2") format("woff2");
}

$body-font: "Montserrat VF", serif;

//variable font axes
$body-wght: "wght" 634;
$nav-link-wght: "wght" 680;
$card-counter-wght: "wght" 760;
$card-heading-wght: "wght" 850;
$article-heading-wght: "wght" 900;
$form-label-wght: "wght" 680;
$about-emphasized-text-wght: "wght" 640;
//font sizes

$card-font-size: 1.3rem;
