@font-face {
  font-family: "Montserrat VF";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/Montserrat-VF.woff2") format("woff2");
}

$body-font: "Montserrat VF";

//variable font axes
$body-wght: "wght" 634;
